<table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Nombre</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(usuario) { %>
                    <% for (var i = 0; i < 1; i++) { %>
                        <tr>
                            <td><%- (i + 1) %></td>
                            <td><%- usuario.name %></td>
                            <td><%- usuario.username %></td>
                            <td><%- usuario.correo %></td>
                            <td>
                                <a href="/delete/<%- usuario.user %>" class="btn btn-danger">Delete</a>
                                <a href="/update/<%- usuario.user %>" class="btn btn-info">Update</a>
                            </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>